<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--<properties resource="../../database.properties" />-->
	<settings>
		<setting useStatementNamespaces="true" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="false" />
	</settings>
	<providers resource="../../providers.config" />
	<!-- Connecting to a MySQL database -->
	<database>
		<!--<provider name="${provider}" />
      <dataSource name="testIBatis" connectionString="${connectionString}" />-->
		<provider name="sqlServer2.0" />
		<dataSource name="WindowsFormsApp4" connectionString="Server=localhost;Database=unicode_db;Uid=asdasd;Pwd=asdasd!"/>
	</database>
	<sqlMaps>
		<sqlMap resource="../../SqlFile/cust_sql.xml" />
		<sqlMap resource="../../SqlFile/unicode_sql.xml" />
		<sqlMap resource="../../SqlFile/unicode_obj.xml" />
	</sqlMaps>
</sqlMapConfig>

